body {
  font-family: "Futura PT" !important;
  margin: 0;
  background-color: #eaecf0;
  /* font-weight: 400; */
}

.MuiButton-root,
.MuiInputBase-root {
  font-family: "Futura PT" !important;
}

.MuiButtonBase-root {
  text-transform: unset !important;
}
