@import "../variables";

//header

.header {
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background: #fff;
}

.searchBar {
  > .MuiOutlinedInput-adornedStart {
    background: #fafafa;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 5px rgba(209, 209, 209, 0.5);
    border-radius: 25px;
    height: 50px;
  }
}

.hamburgerIconBtn {
  background-color: $primary-color !important;
  margin-left: 15px !important;
}

.hamburgerIcon {
  color: #fff !important;
}

.bookstoreBtn {
  background-color: $primary-color !important;
  color: #fff !important;
  border-radius: 50px !important;
  margin: 0 15px 0 28px !important;
  height: 28px;
}

.headerUsers > div {
  display: flex;
  > .usersIn {
    padding: 1px 7px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    &.usersIn0 {
      background-color: #25c16f;
    }
    &.usersIn1 {
      background-color: #cc4783;
    }
    &.usersIn2 {
      background-color: #8847cc;
    }
  }
}

// sidebar

.sideBar {
  border-right: 1px solid #e3eaf2;
  width: 250px;
  background: #fff;
  height: fit-content;
}

.sidebarItem {
  padding-left: 25px !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  justify-content: left !important;
  margin-top: 9px !important;
  margin-bottom: 9px !important;
  & > span {
    color: $primary-color;
    text-align: left;
    align-items: baseline;
    & > span {
      color: #4b4b4b;
      margin-left: 5px;
    }
  }
  &.quicklinksTitle {
    padding-left: 35px !important;
    font-size: 12px;
    color: #8a8a8a;
  }
}

.subSidebarItem {
  padding-left: 55px !important;
}

.quicklinksItems {
  color: #6a6a6a !important;
}

.sidebarDividers {
  background: #e3eaf2 !important;
  margin: 0 25px 0 35px !important;
}

.activeLink {
  background: #fee6d6 !important;
}

// footer

.footer-div {
  background: #f2f2f2;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  align-items: center;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  padding: 85px 7%;
  & .footer-leftsec {
    width: 70%;
    & .footer-leftDesc {
      padding: 25px 0 30px;
    }
    & .footer-icons {
      padding: 40px 0 28px;
      align-items: baseline;
      & > a {
        padding-right: 17px;
      }
    }
  }

  & .footer-itemsDiv {
    justify-content: space-around;
    & > div > ul {
      list-style-type: none;
      text-decoration: none;
      margin: 0;
      padding-bottom: 35px;
      &:nth-last-child(1) {
        padding-bottom: 0;
      }
      > li > a {
        &:link,
        &:hover,
        &:active,
        &:visited {
          color: unset;
          text-decoration: none;
        }
      }
    }
    & .footer-item-header {
      font-weight: 400;
      color: #4b4b4b;
    }
  }
}
