@import "../variables";

//header

.header {
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background: #fff;
}

.searchBar {
  > .MuiOutlinedInput-adornedStart {
    background: #fafafa;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 5px rgba(209, 209, 209, 0.5);
    border-radius: 25px;
    height: 50px;
  }
}

.hamburgerIconBtn {
  background-color: $primary-color !important;
  margin-left: 15px !important;
}

.hamburgerIcon {
  color: #fff !important;
}

.bookstoreBtn {
  background-color: $primary-color !important;
  color: #fff !important;
  border-radius: 50px !important;
  margin: 0 15px 0 28px !important;
  height: 28px;
}

.headerUsers > div {
  display: flex;
  > .usersIn {
    padding: 1px 7px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    &.usersIn0 {
      background-color: #25c16f;
    }
    &.usersIn1 {
      background-color: #cc4783;
    }
    &.usersIn2 {
      background-color: #8847cc;
    }
  }
}

// sidebar

.sideBar {
  border-right: 1px solid #E3EAF2;
  width: 250px;
  background: #fff;
  height: fit-content;
}

.sidebarItem {
  padding-left: 25px !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  justify-content: left !important;
  margin-top: 9px !important;
  margin-bottom: 9px !important;
  & > span {
    color: $primary-color;
    text-align: left;
    align-items: baseline;
    & > span {
      color: #4b4b4b;
      margin-left: 5px;
    }
  }
  &.quicklinksTitle {
    padding-left: 35px !important;
    font-size: 12px;
    color: #8a8a8a;
  }
}

.subSidebarItem {
  padding-left: 55px !important;
}

.quicklinksItems {
  color: #6a6a6a !important;
}

.sidebarDividers {
  background: #e3eaf2 !important;
  margin: 0 25px 0 35px !important;
}

.activeLink {
  background: #fee6d6 !important;
}
